[submodule "clean-route-frontend"]
	path = clean-route-frontend
	url = https://github.com/sadityakumar9211/clean-route-frontend
[submodule "clean-route-backend"]
	path = clean-route-backend
	url = https://github.com/sadityakumar9211/clean-route-backend
[submodule "aws-mode-deployment"]
	path = aws-mode-deployment
	url = https://github.com/sadityakumar9211/clean-route-aws
